$font-nova: '$proxima-nova';

// Fonts
$font-weight-7: 700;
$font-errors: 12px;

// Colors
$color-alert: red;

$brd-radius-1: 1px;
$brd-radius-2: 2px;
$brd-radius-3: 3px;
$brd-radius-4: 4px;

// Paddings
$padding-large: 26px;

@import "styles/main";
