<section class="login-section">
  <div class="display-login">
    <article>
      <div class="section-formulary">
        <div class="align-img">
          <img src="assets/img/logo.png" class="img-logo" alt="">
        </div>
        <div class="title-login">
          <h1>Bienvenido</h1>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="doLogin(formLogin.value)">
          <div class="form-login">
            <div class="user-field">
              <label class="label-detail">Usuario</label>
              <mat-form-field class="input-form" [floatLabel]="'never'">
                <input
                  matInput
                  required
                  placeholder="Ingrese su usuario"
                  class="custom-input"
                  name="user"
                  formControlName="user"/>
                <mat-error class="mat-error">Campo requerido</mat-error>
              </mat-form-field> 
            </div>
            <div class="user-field">
              <label class="label-detail">Contraseña</label>
              <mat-form-field class="input-form" [floatLabel]="'never'">
                <input
                  matInput
                  required
                  placeholder="Ingrese su contraseña"
                  class="custom-input"
                  name="password"
                  type="password"
                  formControlName="password"/>
                <mat-error class="mat-error">Campo requerido</mat-error>
              </mat-form-field> 
            </div>
            <div class="errorLogin" *ngIf="errorLogin">
              <p>Datos incorrectos</p>
            </div>
            <div class="form-submit">
              <div class="section-button">
                <button mat-raised-button color="primary" type="submit">Ingresar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </article>
    <article>
      <div class="image-banner">
        <img src="assets/img/banner.jpg" class="img-fluid height" alt="">
      </div>
    </article>
  </div>
 
</section>